@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  h1, h2, h3, h4 {
    @apply font-display font-bold;
  }
}

.klee-one-regular {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

